{% extends 'base.html' %}
{% block iclass %}
active
{% endblock %}
{% block content%}
<div class="content">
    <div>
        <p>
            Make Your Business More Profitable
        </p>
        <p>
            With the help of our versatile tool various parameters are studied before giving you the
            result
            that which activity is
            playing an important role in investment so that the sales result will be displayed.
        </p>
        <a class="link" href="predict"><button id="button" type="button">Predict Now</button></a>
    </div>
    <div class="svg">
        <img src="static\img\finance.svg" alt="">
    </div>
</div>



{% endblock%}