{% extends 'base.html' %}
{% block sclass %}
active
{% endblock %}
{% block content %}
<div class="content">
    <div>
        <div class="input">
            <div>
                <h5>1. Are you a user or a Business Owner?</h5>
                <input type="radio" name="user" value="User"> User <br>
                <input type="radio" name="Buisness" value="Buisness Owner"> Business Owner
            </div>
        </div>
        <form action="#" method="post">
            <div>

            </div>
        </form>
    </div>
</div>
{% endblock %}