{% extends 'base.html' %}
{% block tclass %}
active
{% endblock %}
{% block content %}
<div class="content team">
    <div>
        <h3>Our Team</h3>
        <div>
            <div>
                <div>
                    <img src="https://instagram.fbom20-1.fna.fbcdn.net/v/t51.2885-19/s150x150/109844583_657306148217207_3025331192599099272_n.jpg?_nc_ht=instagram.fbom20-1.fna.fbcdn.net&_nc_ohc=Nfgw373s0pIAX-qWfZQ&tp=1&oh=9c52a4cdfa876b15ccfcaa09a78adb00&oe=60635EB8"
                        alt="rohit">
                </div>
                <div>
                    <h4>Rohit Yadav</h4>
                    <h4>Web Developer</h4>
                    <div>
                        <a class="link" href=""><span class="iconify" data-icon="logos:instagram-icon"
                                data-inline="false"></span></a>
                        <a class="link" href=""><span class="iconify" data-icon="logos:github-icon"
                                data-inline="false"></span></a>
                        <a class="link" href=""><span class="iconify" data-icon="ion:logo-facebook"
                                data-inline="false"></span></a>
                        <a class="link" href=""><span class="iconify" data-icon="fa-brands:hackerrank"
                                data-inline="false"></span></a>
                    </div>
                </div>
                <div>
                    <button class="prev
                    ">
                        &#8249
                    </button>
                    <button class="next
                    ">
                        &#8250
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}