{% extends 'base.html' %}
{% block iclass %}
active
{% endblock %}
{% block content %}
<div class="user_content content">
    <div>
        <div class="img">
            <img src="" alt="">
        </div>
        <div class="detail">
            <div>
                <h4>company name
                </h4>
                <h6>address:-</h6>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, ea.</p>
            </div>




        </div>
    </div>
</div>

{% endblock %}